// Анимация значков телефона и e-mail
@keyframes phone
  0%
    transform: rotate(15deg)
  100%
    transform: rotate(0deg)

@keyframes email
  0%
    transform: translateY(3px)
  100%
    transform: translateY(0px)

// Анимация наведения на элемент меню

@keyframes menuItem
  0%
    width: 0 
  100%
    width: 55%