@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@-webkit-keyframes phone {
  0% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes phone {
  0% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes email {
  0% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}

@keyframes email {
  0% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}

@-webkit-keyframes menuItem {
  0% {
    width: 0;
  }
  100% {
    width: 55%;
  }
}

@keyframes menuItem {
  0% {
    width: 0;
  }
  100% {
    width: 55%;
  }
}

@-webkit-keyframes burger {
  0% {
    -webkit-transform: translateY(-10px) scaleX(0.8);
            transform: translateY(-10px) scaleX(0.8);
  }
  33% {
    -webkit-transform: translateY(0px) scaleX(1);
            transform: translateY(0px) scaleX(1);
  }
  66% {
    -webkit-transform: translateY(0px) scaleX(1);
            transform: translateY(0px) scaleX(1);
  }
  100% {
    -webkit-transform: translateY(-10px) scaleX(0.8);
            transform: translateY(-10px) scaleX(0.8);
  }
}

@keyframes burger {
  0% {
    -webkit-transform: translateY(-10px) scaleX(0.8);
            transform: translateY(-10px) scaleX(0.8);
  }
  33% {
    -webkit-transform: translateY(0px) scaleX(1);
            transform: translateY(0px) scaleX(1);
  }
  66% {
    -webkit-transform: translateY(0px) scaleX(1);
            transform: translateY(0px) scaleX(1);
  }
  100% {
    -webkit-transform: translateY(-10px) scaleX(0.8);
            transform: translateY(-10px) scaleX(0.8);
  }
}

@-webkit-keyframes racketa {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  25% {
    -webkit-transform: translate(50px, -50px) rotate(-30deg);
            transform: translate(50px, -50px) rotate(-30deg);
  }
  50% {
    -webkit-transform: translate(0px, -100px) rotate(-60deg);
            transform: translate(0px, -100px) rotate(-60deg);
  }
}

@keyframes racketa {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  25% {
    -webkit-transform: translate(50px, -50px) rotate(-30deg);
            transform: translate(50px, -50px) rotate(-30deg);
  }
  50% {
    -webkit-transform: translate(0px, -100px) rotate(-60deg);
            transform: translate(0px, -100px) rotate(-60deg);
  }
}

body {
  color: #222222;
  font-family: Roboto, "sans-serif";
  font-size: 16px;
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #F3F3F3;
}

.cont {
  max-width: 1380px;
  padding: 0 15px;
  margin: auto;
}

.headerBOX {
  background-color: #222222;
}

.headerBOX .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1100px) {
  .headerBOX .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.headerBOX .header .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1100px) {
  .headerBOX .header .contacts {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (max-width: 600px) {
  .headerBOX .header .contacts {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 15px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.headerBOX .header .contacts a {
  display: block;
  padding: 22px 10px;
  color: #F3F3F3;
  font-size: 18px;
  font-family: Arimo;
}

@media (max-width: 600px) {
  .headerBOX .header .contacts a {
    padding: 5px 10px;
  }
}

.headerBOX .header .contacts a i {
  font-size: 16px;
  color: #eb643c;
  margin-right: 10px;
}

.headerBOX .header__phone {
  position: relative;
  margin-left: 90px;
}

@media (max-width: 600px) {
  .headerBOX .header__phone {
    margin-left: 0px;
  }
}

.headerBOX .header__phone::before {
  content: "";
  position: absolute;
  left: -47px;
  height: 18px;
  width: 2px;
  border-left: 1px solid #F3F3F3;
  pointer-events: none;
}

@media (max-width: 600px) {
  .headerBOX .header__phone::before {
    display: none;
  }
}

.headerBOX .header__phone:hover i {
  animation: phone 0.25s linear 6 alternate-reverse;
}

.headerBOX .header__email:hover i {
  animation: email 0.25s linear 6 alternate-reverse;
}

.headerBOX .header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
}

.headerBOX .header .menu__item {
  position: relative;
  padding: 22px 20px;
}

@media (max-width: 600px) {
  .headerBOX .header .menu__item {
    padding: 12px 20px;
  }
}

.headerBOX .header .menu__item:last-child {
  padding: 22px 45px;
  margin-left: 40px;
  background-color: #eb643c;
  -webkit-transition: .35s;
  transition: .35s;
}

@media (max-width: 600px) {
  .headerBOX .header .menu__item:last-child {
    padding: 12px 30px;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-left: 0;
    text-align: center;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

.headerBOX .header .menu__item:last-child:hover {
  -webkit-box-shadow: 0 0 15px #eb643c;
          box-shadow: 0 0 15px #eb643c;
}

.headerBOX .header .menu__item:last-child::before, .headerBOX .header .menu__item:last-child::after {
  display: none;
}

.headerBOX .header .menu__item::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  bottom: 20px;
  background: #eb643c;
  z-index: 3;
}

.headerBOX .header .menu__item::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 20px;
  left: 22px;
  background: #F3F3F3;
  z-index: 2;
}

.headerBOX .header .menu__item:hover::before {
  -webkit-animation: menuItem 0.45s ease-in-out;
          animation: menuItem 0.45s ease-in-out;
  width: 58%;
}

.headerBOX .header .menu__item:hover::after {
  -webkit-animation: menuItem 0.25s linear;
          animation: menuItem 0.25s linear;
  width: 55%;
}

.navigationBOX {
  background: #F3F3F3;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}

@media (max-width: 1150px) {
  .navigation {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.navigation .logo {
  padding: 26px 0;
  margin-right: auto;
}

@media (max-width: 1150px) {
  .navigation .logo {
    width: 100%;
    padding: 12px 0;
    text-align: center;
  }
}

@media (max-width: 1150px) and (max-width: 850px) {
  .navigation .logo {
    width: auto;
    margin: auto;
  }
}

.navigation .logo span {
  position: relative;
}

.navigation .logo span::before {
  position: absolute;
  content: "What else?";
  width: 75px;
  height: 20px;
  font-size: 14px;
  left: 86px;
  bottom: 0px;
  color: #eb643c;
  font-weight: 400;
  z-index: 0;
}

@media (max-width: 1150px) {
  .navigation .logo span::before {
    left: 80px;
  }
}

.navigation .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 60px;
}

@media (max-width: 1150px) {
  .navigation .nav {
    margin: 0;
  }
}

@media (max-width: 850px) {
  .navigation .nav {
    position: fixed;
    top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1150px) {
  .navigation .nav {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.navigation .nav__item {
  padding: 20px 30px;
  color: #353535;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: .25s;
  transition: .25s;
}

@media (max-width: 850px) {
  .navigation .nav__item {
    display: none;
    padding: 6vh 0;
    width: 100vw;
    background: #222222;
    color: #F3F3F3;
    text-align: center;
  }
}

.navigation .nav__item:hover {
  color: #eb643c;
}

.navigation .nav__item:nth-child(6) {
  padding-right: 0;
}

@media (max-width: 1150px) {
  .navigation .nav__item:nth-child(6) {
    padding: 20px 30px;
  }
}

@media (max-width: 850px) {
  .navigation .nav__item:nth-child(6) {
    padding: 6vh 0;
  }
}

.navigation .funcBtns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation .funcBtns i {
  font-size: 18px;
  border: 1px solid #b5b5b5;
  border-radius: 5px;
  padding: 14px;
  color: #222222;
  -webkit-transition: .15s ease-in-out;
  transition: .15s ease-in-out;
}

.navigation .funcBtns i:hover {
  background: #222222;
  color: #eb643c;
}

.navigation .funcBtns__basket {
  margin-right: 10px;
}

.navigation .menuToggle {
  display: none;
  position: fixed;
  bottom: 0;
  padding: 10px 0 0 0;
  color: #F3F3F3;
  width: 100%;
  text-align: center;
  font-size: 28px;
  background: #eb643c;
}

@media (max-width: 850px) {
  .navigation .menuToggle {
    display: block;
  }
}

.navigation .menuToggle i {
  -webkit-animation: burger 1.5s ease-in-out infinite;
          animation: burger 1.5s ease-in-out infinite;
}

.navigation .menuToggle .fa-times {
  display: none;
}

.previewBOX {
  background: #222222;
  color: #ddd;
}

.previewBOX .preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 150px 0;
}

@media (max-width: 850px) {
  .previewBOX .preview {
    padding: 75px 0;
  }
}

.previewBOX .preview__ico {
  color: #eb643c;
  font-size: 64px;
  -webkit-animation: racketa 2s ease-in-out;
          animation: racketa 2s ease-in-out;
}

.previewBOX .preview__title1 {
  color: #F3F3F3;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4.8px;
  padding: 14px;
  text-align: center;
}

.previewBOX .preview__title2 {
  padding-bottom: 20px;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 700;
  line-height: 28px;
  color: #F3F3F3;
  letter-spacing: 0.48px;
}

.previewBOX .preview__title2 span {
  color: #eb643c;
}

.previewBOX .preview__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0;
}

@media (max-width: 850px) {
  .previewBOX .preview__btns {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.previewBOX .preview__btns .more,
.previewBOX .preview__btns .connect {
  text-align: center;
  display: block;
  border-radius: 30px;
  padding: 20px 20px;
  width: 150px;
  background: #eb643c;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  color: #F3F3F3;
  border: 2px solid transparent;
}

@media (max-width: 850px) {
  .previewBOX .preview__btns .more,
  .previewBOX .preview__btns .connect {
    margin: 10px auto;
  }
}

.previewBOX .preview__btns .connect {
  margin-left: 20px;
  background: #F3F3F3;
  color: #222222;
  -webkit-transition: .25s;
  transition: .25s;
}

.previewBOX .preview__btns .connect:hover {
  background: #eb643c;
  color: #F3F3F3;
  border: 2px solid #F3F3F3;
}

@media (max-width: 850px) {
  .previewBOX .preview__btns .connect {
    margin: auto;
  }
}

.previewBOX .preview__btns .more {
  -webkit-transition: .25s;
  transition: .25s;
}

.previewBOX .preview__btns .more:hover {
  background: #F3F3F3;
  color: #222222;
  border: 2px solid #eb643c;
}

.previewBOX .preview__text {
  width: 35vw;
  text-align: center;
}

@media (max-width: 1100px) {
  .previewBOX .preview__text {
    width: 80%;
  }
}
/*# sourceMappingURL=style.css.map */